<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mt-4">
            <label>Search:</label>
            <input class="form-control mx-3" #searchTerm (keyup)="onKeyUp(searchTerm.value)">
        </div>
    </form>
    <div class="card bg-light mt-4">
        <div class="card-body">
            <table class="table table-bordered table-hover mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th>Id:</th>
                        <th>Joueur Title:</th>
                        <th>Artist Name:</th>
                        <th>Release Date:</th>
                        <th>Genre:</th>
                        <th>Equipe:</th>
                    </tr>
                </thead>
                <tbody *ngFor="let joueur of joueurs">
                    <tr>
                        <td>{{joueur.idJoueur}}</td>
                        <td>{{joueur.title}}</td>
                        <td>{{joueur.nomJoueur}}</td>
                        <td>{{joueur.dateInscrit | date:'yyyy/MM/dd'}}</td>
                        <td>{{joueur.prenomJoueur}}</td>
                        <td>{{joueur.equipe.equipeName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
